#panel_menu{
    border-top-width: 0px;
    border-right-width: 0px;
    margin-right: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    background-color: black;
}

#hamburger{
    -webkit-border-radius: 0em;
    border-radius: 0em;
    background-color: #2692f6;
}

#hamburger:after{
    -webkit-border-radius: 0em;
    border-radius: 0em;
    background-color: #2692f6;
}

.ui-panel-inner{
    padding-bottom: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
}
.ui-header{
    background: linear-gradient(#2692f6, #11518c);
}

.ui-li-divider{
    background: linear-gradient(#1e76bf, #114a80);
}

.controlgroup-textinput{
    padding-top:.22em;
    padding-bottom:.22em;
}